<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="css/style.css">
	<!-- <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="script.js"></script>
	<title>Document</title> -->
</head>

<body>
	<h1>Blah blah blah</h1>
	<div class="grid">
		<% for (let data of resData) { %>
			<article class="card product-item">
				<header class="card__header">
					<h1 class="product__title">
						<%= data.title %>
					</h1>
				</header>
				<div class="card__image">
					<img src="<%= data.imageUrl %>" alt="<%= data.title %>">
				</div>
				<div class="card__content">
					<h2 class="product__price">$
						<%= data.price %>
					</h2>
					<p class="product__description">
						<%= data.description %>
					</p>
				</div>
			</article>
			<% } %>
	</div>



	<main>
		<form class="product-form" action="/admin/add-product" method="POST">
			<div class="form-control">
				<label for="title">Title</label>
				<input type="text" name="title" id="title">
			</div>
			<!-- <div class="form-control">
				<label for="imageUrl">Image URL</label>
				<input type="text" name="imageUrl" id="imageUrl">
			</div>
			<div class="form-control">
				<label for="price">Price</label>
				<input type="number" name="price" id="price" step="0.01">
			</div>
			<div class="form-control">
				<label for="description">Description</label>
				<textarea name="description" id="description" rows="5"></textarea>
			</div> -->

			<button class="btn" type="submit">Add Product</button>
			<a href="/" class="btn" type="submit">Edit</a>
			<button class="btn" type="submit">Delete</button>
		</form>
</body>
</html>